*{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

body{
    background-color: rgb(224, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-image: linear-gradient(to bottom, blue, rgba(0, 0, 139, 0.747));
    padding: 30px;
    padding-left: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.288);
}

nav > ul >a{
    padding-top: 5px;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.3s;
}

nav > ul > a:hover{
    color: black;
    background-color: rgba(0, 0, 139, 0.747);
    transition: 0.5s;
}
h2{
    margin-bottom: 20px;
    font-size: 1.3em;
    color: rgb(248, 248, 81);
}

main{
    padding: 40px 0px 0px 10px;
    height: 320px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.219);
    
}
h1{
    font-size: 2em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(207, 207, 59);
}
img{
    padding: 20px;
    background-color: rgba(199, 199, 199, 0.342);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.342);
}

main > h3, main > p{
    padding: 15px;
    width: 400px;
    margin: auto;
    text-align: justify;
    margin-left: 300px;
    color: black;
}
main > h3{
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
}

article{
    padding: 30px 20px;
    margin-top: 13px;
    margin-left: -10px;
    
}
article > ul{
    list-style: none;
    text-indent: 20px;
}

img{
    float: left;
}
section{
    margin-top: 105px;
    margin-left: -10px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 253, 0.925), rgba(0, 0, 139, 0.884));
    padding: 15px;
    color: white;
}
section > a{
    color: rgb(207, 207, 59);
    text-decoration: none;
}

section > a:hover{
    color: rgb(185, 185, 53);
    text-decoration: underline;
}

footer {
    bottom: 0px;
    position: absolute;
    background-color: rgba(1, 1, 126, 0.925);
    height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 15px;

}
footer p {
    color: white;
    font-weight: bold;
}
